doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://code.jquery.com/jquery-1.12.3.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src="javascripts/chart.js")
